@model IEnumerable<NEWG.Models.Workout>

@{
    ViewData["PageTitle"] = "Workout";
    ViewData["PageAction"] = "Add Workout";
    ViewData["PageUrl"] = "/Workouts/AddOrEdit";
    
}

<div class="row">
    <div class="col-md-7">
       
        <ejs-grid id="Workouts" dataSource="@Model" allowSorting="true" allowPaging="true" allowTextWrap="true">
      <e-grid-pagesettings pagesize="10"></e-grid-pagesettings>
            
            <e-grid-columns>
                <e-grid-column headerText="Date" field="Date" type="date" format="dd-MM-yy" textalign="Left" width="300px"></e-grid-column>
                <e-grid-column headerText="Duration" field="Duration"></e-grid-column>
                <e-grid-column headerText="Notes" field="Notes"></e-grid-column>
                <e-grid-column headerText="Edit/Delete" template="#ActionTemplate" width="120px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>

    @*Widget *@
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b36">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>


</div>


@*Edit icon*@
<script id="ActionTemplate" type="text/x-template">
        <div class="d-flex flex-row justify-content-start">
            <a class="btn btn-sm no-a-decoration" href="/Workouts/AddOrEdit/${WorkoutId}">
                <i class="fa-solid fa-pen fa-lg"></i>
            </a>

    @*Delete icon *@
        <form action="/Workouts/Delete/${WorkoutId}" method="post">
    @Html.AntiForgeryToken()    @*Protect from bots or attacks  *@
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"onclick="return confirm(&quot;Really?&quot;)">
            <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>
         </form>

         <a class="btn btn-sm no-a-decoration" href="/ExerciseRecords/Create?workoutId=${WorkoutId}">
                 <i class="bi bi-plus-circle-fill fa-solid text-success fa-lg"></i>
            </a>

       
         
     </div>

</script>


