@model IEnumerable<NEWG.Models.Category>

@{
    ViewData["PageTitle"] = "Category";
    ViewData["PageAction"] = "Add Category";
    ViewData["PageUrl"] = "/Categories/AddOrEdit";
}


<div class="row">
    <div class="col-md-7">
        <ejs-grid id="categories" dataSource="@Model" allowSorting="true" allowPaging="true"  allowTextWrap="true">
            <e-grid-pagesettings pagesize="10" ></e-grid-pagesettings>
            <e-grid-columns >
                
                <e-grid-column headerText="Category" field="Name" width="300px"></e-grid-column>
                <e-grid-column headerText="Description" field="Description"></e-grid-column>
                <e-grid-column headerText="Edit/Delete" template="#ActionTemplate" width="120px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>

            @*Pic *@
          <div class="col-md-5">
        <img src="https://live.staticflickr.com/4068/4530198196_d86c3794e0.jpg" class="img-fluid" alt="Responsive image" >
           </div>
    </div>

               @*Edit icon*@
    <script id="ActionTemplate" type="text/x-template">
        <div class="d-flex flex-row justify-content-start">
            <a class="btn btn-sm no-a-decoration" href="/Categories/AddOrEdit/${CategoryId}">
                <i class="fa-solid fa-pen fa-lg"></i>
            </a>

               @*Delete icon *@
            <form action="/Categories/Delete/${CategoryId}" method="post">
                @Html.AntiForgeryToken()    @*Protect from bots or attacks  *@    
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"onclick="return confirm(&quot;Really?&quot;)">
            <i class="fa-solid fa-trash-can fa-lg text-danger"></i>    
            </button>
            
            </form>
                </div>

    </script>




