@model IEnumerable<NEWG.Models.ExerciseRecord>

@{
    ViewData["PageTitle"] = "ExerciseRecords";
   
    ViewData["PageUrl"] = "/ExerciseRecords/Create";
 }



<div class="row">
    <div class="col-md-10">
       
        <ejs-grid id="ExerciseRecord" dataSource="@Model" allowSorting="true" allowFiltering="true" allowGrouping="true" allowPaging="true" allowTextWrap="true">
            <e-grid-selectionsettings type="Single" persistSelection="true"></e-grid-selectionsettings>
      <e-grid-pagesettings pagesize="10"></e-grid-pagesettings>
            
            <e-grid-columns>
                <e-grid-column headerText="ExerciseId" field="ExerciseId"  textalign="Left" width="100px"></e-grid-column>
                <e-grid-column headerText="WorkoutId" field="WorkoutId" ></e-grid-column>
                <e-grid-column headerText="Repetitions" field="Repetitions"></e-grid-column>
                <e-grid-column headerText="Weight" field="Weight"></e-grid-column>
                <e-grid-column headerText="ExecutionSpeed" field="ExecutionSpeed"></e-grid-column>
                
              <e-grid-column headerText="Edit/Delete" template="#ActionTemplate" ></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    </div>



@*Edit icon*@
<script id="ActionTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/ExerciseRecords/Edit/${CategoryId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>

    @*Delete icon *@
        <form action="/ExerciseRecords/Delete/${CategoryId}" method="post">
         @Html.AntiForgeryToken()    @*Protect from bots or attacks  *@
        <button type="submit" class="btn btn-sm btn-link no-a-decoration"onclick="return confirm(&quot;Really?&quot;)">
        <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
        </button>

        </form>
            </div>

</script>