html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  font-family:Caladea
}
* {
    font-family:Caladea
}

body {
  margin-bottom: 60px;
  background-color : #12161d;
  color:#fff;
}
.main-content {
    margin-left: 290px;
    overflow-y: auto;
    height: 92vh;
}

.border-bottom-green
{
    border-bottom:double;
    border-bottom-color:greenyellow;
}

/*Button*/
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}
.no-a-decoration,.no-a-decoration:hover{
    text-decoration:none;
    color:inherit;
}

.mainview{
    margin-left:50px;
}

.e-bigger{
    font-size:x-large;
}

.widget{
    border-radius: 1rem;
    background-color:#1a222b;
}

    .widgetChart {
        padding: 5px;
    }

/*Button Login/register*/

.button
{
    color:greenyellow;
    text-decoration:none;
    font-style:oblique
}
.button:hover
{
    color:inherit;
    text-decoration:none;
}

/*Grid*/
.e-grid {
    border: 0;
    border-radius: 5px;
}

    .e-grid .e-gridcontent, .e-grid .e-table {
        background-color: #1a222b;
    }

    .e-grid .e-gridheader {
        border: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
        background-color: #222b33;
    }

        .e-grid .e-gridheader .e-headercell {
            background-color: #222b33;
        }

    .e-grid .e-gridpager {
        background-color: #1a222b;
    }

    .e-grid .e-pagercontainer {
        border: none;
        background-color: #1a222b;
    }

    .e-grid .e-content table {
        padding: 0px 10px;
    }

.e-pagercontainer .e-icons {
    background-color: #1a222b;
    border: none !important;
}

.e-pager .e-numericitem {
    color: #adb5bd;
    background-color: #1a222b;
    padding: 15px !important;
}

    .e-pager .e-numericitem:not(.e-currentitem) {
        border: none !important;
    }

    .e-pager .e-numericitem:hover {
        color: #fff;
    }

    .e-pager .e-numericitem.e-currentitem {
        color: #fff;
        border: none !important;
        background-color: #31373d;
    }

.e-pager div.e-icons:not(.e-disable) {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.e-grid .e-pager {
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.widerColumn{
    width:75%;
}

/*Sidepanel*/
#sidepanel {
   background-color: #1a222b;
   border-right: 5px #808080;
   padding: 20px 20px;
   
}

.TotalWeight {
    font-weight:bold;
    color:greenyellow;

}

/* Widget*/

.widget {
    border-radius: 1rem;
    background-color: #1a222b;
}

    .widget.summary > div:first-child {
        background-color: #222b33;
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

        .widget.summary > div:first-child i {
            font-weight: bold;
        }

    .widget.income > div:first-child {
        color: #65da41;
    }

    .widget.expense > div:first-child {
        color: #ff4e48;
    }

    .widget.balance > div:first-child {
        color: #2aa1ff;
    }

    .widget.chart {
        padding: 5px;
    }
    


  /*SidePanel*/

#menu {
    width: 100% !important;
    background-color: #1a222b;
    overflow: hidden;
    text-align: left;
    padding:100px 20px 
}
    

    #menu .e-menu-item
    {
        box-sizing: border-box;
        width:200px;
        background:inherit;
        font-size:large;
        margin-bottom:15px;
    }

        #menu .e-menu-item a 
        {
            width: 50%;
            color: greenyellow;
            font-weight: 400;
            box-sizing: border-box;
            
        }

        #menu .e-menu-item.e-separator {
            border: none;
            margin: 5px 5px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            color: #65da41;
           
        }
        #menu .e-menu-item .e-anchor-wrap span.e-menu-icon {
            color: rgb(73, 138, 0);
        }